# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.ipynb_checkpoints/

# Models
*.pt
!best.pt
weights/
runs/

# Dataset & Data
data/
archive/
*.zip

# Virtual Environment
venv/
env/
.env

# MacOS
.DS_Store
